.testimonials {
  position: relative;
  width: 100%;
  background: url('../../assets/images/testimonial-bg.jpg') top center no-repeat;
  background-size: cover;
  min-height: 390px;

  @mixin atRetina {
    background: url('../../assets/images/testimonial-bg@2x.jpg') top center no-repeat;
    background-size: cover;
  }
}